@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/bootstrap-datetimepicker.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/bootstrap-dialog.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/font-awesome.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/select2.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/index.css")" rel="stylesheet">
		<script src="@routes.Assets.at("javascripts/plugins/jquery-1.11.2.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/plugins/moment.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/plugins/select2.full.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/plugins/bootstrap.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/plugins/bootstrap-datetimepicker.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/plugins/bootstrap-dialog.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/plugins/underscore-min.js")"></script>
        <script src="@routes.Assets.at("javascripts/plugins/backbone.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/plugins/backbone-validation.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/plugins/jquery-serialize-object.js")"></script>
    </head>
    <body>
        @content
    </body>
</html>
